@import 'custom.scss';

.btn {
  display: inline-block;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.btn-orange-gradient {
  color: #fff;
  background: $orange-gradient;
  border-color: $orange-primary;
  transition: 1s;
}

.btn-orange-gradient:hover {
  background: $orange-gradient-darker;
}

.btn-orange-gradient:active {
  background: $orange-gradient-darker-reverse;
}
