@import 'custom.scss';

.category__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.75rem;
}

.category__card {
  width: 18rem;
  max-width: 100%;
  margin: 0.75rem;
  perspective: 36em;
  user-select: none;
}

.category__card:hover .category__card-content {
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.35);
}

.category__card:active .category__card-content {
  border: 4px solid $green-primary;
  transition: 0.07s;
}

.category__card.flipped .category__card-content {
  transform: rotateY(180deg);
}

.category__card-content {
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.125);
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.175);
  transform-style: preserve-3d;
  transition: all 1s;
}

.category__card-back,
.category__card-front {
  backface-visibility: hidden;
}

.category__card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category__card-front {
  transform: rotateY(180deg);
}

.category__image-wrapper {
  height: 300px;
}
.category__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category__card-body {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.category__card-text {
  flex: 1 1 auto;
  text-align: center;
  font-size: calc(1.375rem + 0.5vw);
  font-weight: 300;
  line-height: 1.2;
}
.bi-arrow-repeat {
  flex: 0 0 auto;
  font-size: 2rem;
  color: #000;
}

.bi-arrow-repeat:hover {
  color: #00bf82;
}

.bi-music-note-beamed {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2em;
  font-size: 1.5rem;
  border-bottom-right-radius: 25%;
  color: #fff;
  background-color: rgba(35, 35, 35, 0.6);
  transition: 0.3s;
}

.category__card:hover .bi-music-note-beamed {
  color: $green-primary;
}

.category__card:active {
}
