* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style-type: none;
}

img,
svg {
  max-width: 100%;
  vertical-align: middle;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
