@import 'null.scss';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'offcanvas';
@import 'close-icon';
@import 'custom.scss';
@import 'toggle-icon.scss';

body {
  line-height: 1.25em;
}
.header {
  padding: 2em;
}
.card {
  width: 100%;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
  width: 120px;
  margin-top: -60px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.bg-indigo {
  background-color: $indigo !important;
}

.blue-gradient {
  background: linear-gradient(40deg, $blue-500, $blue-700);
  background-image: linear-gradient(40deg, $blue-500, $blue-700);
}

.orange-gradient {
  background: linear-gradient(40deg, $orange-500, $orange-700);
  background-image: linear-gradient(40deg, $orange-500, $orange-700);
}

.indigo-gradient {
  background: linear-gradient(40deg, $indigo-500, $gray-700);
  background-image: linear-gradient(40deg, $indigo-500, $gray-700);
}

.card-guess {
  position: relative;
}
.bi-arrow-repeat {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: white;
}

.bi-music-note {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  color: white;
}
